@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #dcff50;
    --color-secondary: #7b61ff;
    --color-heading: #f5f5f7;
    --color-text: rgba(255, 255, 255, 0.6);
    --color-background: #090909;

    font-size: 62.5%;

    /* Entire scrollbar */
    ::-webkit-scrollbar {
      width: 12px; /* Width of the vertical scrollbar */
      height: 12px; /* Height of the horizontal scrollbar */
    }

    /* Scrollbar track (background) */
    ::-webkit-scrollbar-track {
      background: radial-gradient(
        var(--color-secondary) 50%,
        var(--color-background) 90%
      ); /* Background color */
    }

    /* Scrollbar thumb (draggable part) */
    ::-webkit-scrollbar-thumb {
      background-color: var(--color-primary); /* Thumb color */
      border-radius: 10px; /* Rounded corners */
    }

    /* Thumb hover effect */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #888; /* Darker color when hovered */
    }
  }
}
html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}
